*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #edf1f4;
}

.grid{
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 100px;
}

.header{
    width: 100%;
    height: 250px;
    background-color: rgb(81, 79, 79);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    position: relative;
    width: 340px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px #fffb;
}

.calculator .buttons{
    position: relative;
    display: grid;
}

.buttonsgrid{
    margin-top: 50px;
    display: grid;
    grid-template-columns:  repeat(4, 75px);
}

.calculator .buttons span, .calculator .buttons button{
    position: relative;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 20px #fff;
    margin: 10px;
    cursor: pointer;
    user-select: none;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #666;
    border: 2px solid #edf1f4;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
    border-radius: 10px;
}

.calculator .buttons span:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px #fff;
    color: #f44336;
}

.calculator .buttons button#clear{
    grid-column: span 2;
    background: #f44336;
    color: #fff;
    border: 2px solid #edf1f4;
}

.calculator .buttons button#undo, .calculator .buttons button#redo{
    grid-row: span 2;
    background: rgb(242, 182, 0);
    color: #fff;
    border: 2px solid #edf1f4;
}

.calculator .buttons span#clear:active,
.calculator .buttons span#plus:active,
.calculator .buttons span#equal:active{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff, inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}








h2.counter{
    position: relative;
    font-size: 6em;
    letter-spacing: 15px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    line-height: 0.7em;
    outline: none;
}

h2.counter{
    animation: animate4 5s linear infinite;
}
@keyframes animate4{
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%{
        color: white;
        text-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
        color: white;
        text-shadow: 0 0 10px white,
        0 0 20px white,
        0 0 40px white,
        0 0 80px white,
        0 0 160px white;
    }
}








.wrapper{
    width: 340px;
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}

.wrapper::-webkit-scrollbar-thumb{
    background-color: rgb(81, 79, 79);
}

.item{
    height: 35px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
    border-bottom: 0.5px solid black;
}